/* Layout de edição */
#edit-box {
   display: grid;
   gap: 0.2em;
   grid-template-rows: auto 1fr;
   grid-template-columns: 1fr;
}

/* Altura variável para visualização */
#file-view,
#collection-view {
   height: clamp(10rem, 57vh, 100rem);
   /* Ajuste conforme necessário */
   border-radius: 0 0 20px 20px;
}

/* Campos com bordas arredondadas */

#collection-name {
   border-radius: 20px 20px 0 0;
}

/* Estilo para campos estáticos */
.static-field {
   width: 99%;
   background-color: transparent;
   border: 0;
}