.button-container {

   display: flex;
   justify-content: space-between;
}

#generate-button {
   width: 10rem;
}

#template-selector {
   width: 10rem;
}

#result-box {
   border-radius: 0px 0px 20px 0px;
}