button {
    cursor: pointer;
    border-radius: 20px;
    background-color: #333;
    color: white;
    text-align: center;
    margin: 0.3em;
}

button:hover {
    background-color: #4CAF50;
    /* Verde brilhante */
    box-shadow: 0 0 10px rgba(76, 175, 80, 0.7);
    /* Efeito de brilho */
}

/* Botão do Menu */
#menu-button {
    background-color: transparent;
    border: 0;
}

#menu-button img {
    width: 1.2rem;
    height: 1.2rem;
}

/* Botão de Copiar */
.copyButton {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

.copyButton:hover {
    background-color: #5945a0;
}

/* Botão de Procurar */
.searchButton {
    background-color: #0042f8;
    color: white;
    border: none;
    cursor: pointer;
}

.searchButton:hover {
    background-color: #5945a0;
}

.button-left {
    width: 100%;
    height: 75%;
    grid-column: 1 / 2;
}

.button-right {
    width: 100%;
    height: 75%;
    grid-column: 3 / 4;
}

.navigationButton {
    height: 3rem;
    width: 100%;
    margin-top: 0.2rem;
    color: white;
    background-color: rgb(217, 217, 217, 0.1);
    border: none;
}

.navigationButton:hover {
    background-color: rgb(177, 174, 174, 0.2);
}

.set-id-button {
    background-color: #0042f8;
}