/* Contêiner Flexível */
.flex-container {
   display: flex;
}

.invert-flex-container {
   display: flex;
   flex-direction: column;
}

.grid-container {
   display: grid;
}

.container-1,
.container-2,
.container-3 {
   padding: 0.3em;
   margin: 0.3em;
   overflow: auto;
}

.container-1 {
   background-color: orangered;
}

.container-2 {
   background-color: #D9D9D9;
}

.container-3 {
   background-color: #B1AEAE;
}

.container-template {
   flex-direction: column;
   background-color: orangered;
   padding: 0.3em;
}

.center {
   display: flex;
   justify-content: center;
   align-items: center;
}